In [1]:
import pyodbc
import pandas as pd

In [2]:
import leafmap
import os
import geopandas as gpd

In [ ]:
#conn = pyodbc.connect("Driver={SQL Server};Server=KLUNST\SQLEXPRESS;UID=clnuser;PWD=usr@Cln;Database=AWSv4;Trusted_Connection=yes;")
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=KLUNST\SQLEXPRESS;"
            "Database=AWSv4;"
            "UID=clnuser;"
            "PWD=usr@Cln;"
            "Trusted_Connection=yes;")
conn = pyodbc.connect(cnxn_str)

In [4]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM dbo.LatestData')

#for i in cursor:
    #print(i)

In [5]:
#df = pd.read_sql_query('SELECT * FROM dbo.LatestData', conn)
#print(df)

In [5]:
from datetime import datetime, timedelta

In [6]:
from datetime import datetime
datetime.today().strftime('%Y-%m-%d')

'2022-11-03'

In [7]:
date_N_days_ago = datetime.now() - timedelta(days=5)

In [8]:
t_date = datetime.today().strftime('%Y-%m-%d')

In [9]:
t_f_date = date_N_days_ago.strftime('%Y-%m-%d')

In [10]:
t_f_date

'2022-10-29'

In [12]:
#cursor.execute("SELECT * FROM dbo.SiteReading WHERE SiteID = 'IDKALKD'")

In [14]:
#cursor.execute("SELECT RainfallSelected FROM dbo.SiteReading WHERE SiteID = 'IDKARKLM' AND Date > '2022-07-18'")

In [11]:
# Python program to get
# current date
  
  
# Import date class from datetime module
from datetime import date
  
  
# Returns the current local date
today = date.today()
print("Today date is: ", today)

Today date is:  2022-11-03

In [12]:
date_fd = today - timedelta(days=5)

In [13]:
date_fd

datetime.date(2022, 10, 29)

In [16]:
cursor.execute("SELECT RainfallSelected  FROM dbo.SiteReading WHERE SiteID = 'IDKARKLM' AND Date BETWEEN DATEADD(day, -5, GetDate()) AND DATEADD(day, -1, GetDate())")

In [86]:
df = pd.read_sql_query("SELECT RainfallSelected,Date FROM dbo.SiteReading WHERE SiteID = 'IDKARKLM' AND Date >= DATEADD(day, -2, GetDate())", conn)
print(df)

     RainfallSelected        Date
0                 0.0  2022-11-02
1                 0.0  2022-11-02
2                 0.0  2022-11-02
3                 0.0  2022-11-02
4                 0.0  2022-11-02
..                ...         ...
130               0.0  2022-11-03
131               0.0  2022-11-03
132               0.0  2022-11-03
133               0.0  2022-11-03
134               1.2  2022-11-03

[135 rows x 2 columns]

In [91]:
df2 = pd.read_sql_query("SELECT RainfallSelected,Date  FROM dbo.SiteReading WHERE SiteID = 'IDKARKLM' AND Date BETWEEN DATEADD(day, -5, GetDate()) AND DATEADD(day, -1, GetDate())", conn)
print(df2)

     RainfallSelected        Date
0                 0.0  2022-10-30
1                 0.0  2022-10-30
2                 0.0  2022-10-30
3                 0.0  2022-10-30
4                 0.0  2022-10-30
..                ...         ...
366               0.0  2022-11-02
367               0.0  2022-11-02
368               0.0  2022-11-02
369               0.0  2022-11-02
370               0.0  2022-11-02

[371 rows x 2 columns]

In [89]:
cursor.execute("SELECT RainfallSelected  FROM dbo.SiteReading WHERE SiteID = 'IDKPLVSL' AND Date BETWEEN DATEADD(day, -5, GetDate()) AND DATEADD(day, -1, GetDate())")

In [97]:
df_PLV = pd.read_sql_query("SELECT RainfallSelected,Date FROM dbo.SiteReading WHERE SiteID = 'IDKPLVSL' AND Date >= DATEADD(day, -2, GetDate())", conn)
print(df_PLV)

Empty DataFrame
Columns: [RainfallSelected, Date]
Index: []

In [98]:
df2_PLV = pd.read_sql_query("SELECT RainfallSelected,Date  FROM dbo.SiteReading WHERE SiteID = 'IDKPLVSL' AND Date BETWEEN DATEADD(day, -5, GetDate()) AND DATEADD(day, -1, GetDate())", conn)
print(df2_PLV)

Empty DataFrame
Columns: [RainfallSelected, Date]
Index: []

In [99]:
df_IRMP = pd.read_sql_query("SELECT RainfallSelected,Date FROM dbo.SiteReading WHERE SiteID = 'IDKPCHAL' AND Date >= DATEADD(day, -2, GetDate())", conn)
print(df_IRMP)

     RainfallSelected        Date
0                 0.0  2022-11-02
1                 0.0  2022-11-02
2                 0.0  2022-11-02
3                 0.0  2022-11-02
4                 0.0  2022-11-02
..                ...         ...
127               0.2  2022-11-03
128               0.0  2022-11-03
129               0.0  2022-11-03
130               0.0  2022-11-03
131               0.0  2022-11-03

[132 rows x 2 columns]

In [100]:
df2_IRMP = pd.read_sql_query("SELECT RainfallSelected,Date  FROM dbo.SiteReading WHERE SiteID = 'IDKPCHAL' AND Date BETWEEN DATEADD(day, -5, GetDate()) AND DATEADD(day, -1, GetDate())", conn)
print(df2_IRMP)

     RainfallSelected        Date
0                 0.0  2022-10-30
1                 0.0  2022-10-30
2                 0.0  2022-10-30
3                 0.0  2022-10-30
4                 0.0  2022-10-30
..                ...         ...
362               0.0  2022-11-02
363               0.0  2022-11-02
364               0.0  2022-11-02
365               0.0  2022-11-02
366               0.0  2022-11-02

[367 rows x 2 columns]

In [20]:
x = df2['RainfallSelected'].sum() 
x

56.900000000000006

In [21]:
x_1D = df['RainfallSelected'].sum()
x_1D

18.799999999999997

In [31]:
y = (0.0313*x) + 69.82 
print(y)

71.60096999999999

In [32]:
#in_geojson = 'C:/Users/KLUNADMIN/Downloads/Mob/LSM_AWS1.json'

In [73]:
m = leafmap.Map(center=[0, 0], zoom=2)



style = {
    "stroke": True,
    "color": "#007500",
    "weight": 2,
    "opacity": 1,
    "fill": True,
    "fillColor": "#00A300",
    "fillOpacity": 0.1,
}

hover_style = {"fillOpacity": 0.7}

#m.add_geojson(in_geojson, layer_name="Idukki", style=style, hover_style=hover_style)

In [74]:
Alakkode_H = 'Slip-Kerala/1.json'
Alakkode_M = 'Slip-Kerala/2.json'
Arakkulam_H = 'Slip-Kerala/9.json'
Arakkulam_M = 'Slip-Kerala/10.json'
Elappara_H = 'Slip-Kerala/11.json'
Elappara_M = 'Slip-Kerala/12.json'
Erattayar_H = 'Slip-Kerala/15.json'
Erattayar_M = 'Slip-Kerala/16.json'
Manjumala_H = 'Slip-Kerala/13.json'
Manjumala_M = 'Slip-Kerala/14.json'
Irumpupalam_H = 'Slip-Kerala/3.json'
Irumpupalam_M = 'Slip-Kerala/4.json'
Pallivasal_H = 'Slip-Kerala/5.json'
Pallivasal_M = 'Slip-Kerala/6.json'
Santhanpara_H = 'Slip-Kerala/7.json'
Santhanpara_M = 'Slip-Kerala/8.json'

In [101]:
def green_alert():
    style = {
        "stroke": True,
        "color": "#007500",
        "weight": 2,
        "opacity": 1,
        "fill": True,
        "fillColor": "#007500",
        "fillOpacity": 0.1,
    }
    hover_style = {"fillOpacity": 0.7}
    m.add_geojson(Arakkulam_H, layer_name="Arakkulam_H", style=style, hover_style=hover_style)
    m.add_geojson(Arakkulam_M, layer_name="Arakkulam_M", style=style, hover_style=hover_style)
    m.add_geojson(Irumpupalam_H, layer_name="Irumpupalam_H", style=style, hover_style=hover_style)
    m.add_geojson(Irumpupalam_M, layer_name="Irumpupalam_M", style=style, hover_style=hover_style)
    m.add_geojson(Pallivasal_H, layer_name="Pallivasal_H", style=style, hover_style=hover_style)
    m.add_geojson(Pallivasal_M, layer_name="Pallivasal_M", style=style, hover_style=hover_style)

In [102]:
def red_alert():
    style_r = {
        "stroke": True,
        "color": "#FFFF00",
        "weight": 2,
        "opacity": 1,
        "fill": True,
        "fillColor": "#FFFF00",
        "fillOpacity": 0.1,
    }
    hover_style = {"fillOpacity": 0.7}
    m.add_geojson(Arakkulam_H, layer_name="Arakkulam_H", style=style_r, hover_style=hover_style)
    m.add_geojson(Arakkulam_M, layer_name="Arakkulam_M", style=style_r, hover_style=hover_style)
    m.add_geojson(Irumpupalam_H, layer_name="Irumpupalam_H", style=style_r, hover_style=hover_style)
    m.add_geojson(Irumpupalam_M, layer_name="Irumpupalam_M", style=style_r, hover_style=hover_style)
    m.add_geojson(Pallivasal_H, layer_name="Pallivasal_H", style=style_r, hover_style=hover_style)
    m.add_geojson(Pallivasal_M, layer_name="Pallivasal_M", style=style_r, hover_style=hover_style)

In [103]:
def orange_alert():
    style_r = {
        "stroke": True,
        "color": "#FF0000",
        "weight": 2,
        "opacity": 1,
        "fill": True,
        "fillColor": "#FF0000",
        "fillOpacity": 0.1,
    }
    style_o = {
        "stroke": True,
        "color": "#FFA500",
        "weight": 2,
        "opacity": 1,
        "fill": True,
        "fillColor": "#FFA500",
        "fillOpacity": 0.1,
    }
    hover_style = {"fillOpacity": 0.7}
    m.add_geojson(Arakkulam_H, layer_name="Arakkulam_H", style=style_r, hover_style=hover_style)
    m.add_geojson(Arakkulam_M, layer_name="Arakkulam_M", style=style_o, hover_style=hover_style)
    m.add_geojson(Irumpupalam_H, layer_name="Irumpupalam_H", style=style_r, hover_style=hover_style)
    m.add_geojson(Irumpupalam_M, layer_name="Irumpupalam_M", style=style_o, hover_style=hover_style)
    m.add_geojson(Pallivasal_H, layer_name="Pallivasal_H", style=style_r, hover_style=hover_style)
    m.add_geojson(Pallivasal_M, layer_name="Pallivasal_M", style=style_o, hover_style=hover_style)

In [104]:
if (x_1D >= y):
    red_alert()
elif ((x_1D >= (y*0.75)) and (x_1D < y)):
    orange_alert()
elif ((x_1D <= (y*0.5))):
    green_alert()
else:
    green_alert()

In [105]:
m

Map(bottom=247843.0, center=[9.974937058598, 76.79929669771074], controls=(ZoomControl(options=['position', 'zâ€¦